ul.coverFlowRow {
    padding: 0px;
    margin: 25px 0px 0px 0px;
    list-style-type: none;
}
ul.coverFlowRow li {
    display: inline-block;
    margin: 25px;
}
ul.coverFlowRow li:focus {
    outline: #d5d5d5 5px solid;
    outline-offset: -5px;
}